@using AkdTimerGV.Components.Models

@*
    Component for Adding time to a Timer.
    This could be Penalty / Break / Active Time

    There are two versions, simplified is (for now) used for break & penalty time, 
    where you chose form a radio button wether you're adding a number of seconds or minutes.

    Since usually penalties / breaktimes aren't a mix of minutes and seconds this works well

    The "Complex" mode allows the user to enter a number of hours / minutes / seconds directly.
    Complex mode is for now intended when resuming a race in a second session to add the time from previously to the timer.
*@

<div class="d-flex flex-column Panel">
    
    @* Simplified mode, simply have a radio button for selecting if minutes or seconds are added in addition to a number input *@
    @if (Simplified) {
        <div class="d-flex flex-column" style="margin-bottom: 5px">
            <input type="number" style="max-width:150px" class="input-group-text" @bind="PenaltyToAdd"/>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault-@(TimerAdditionType+Origin)" checked @onclick="() => CurrentTimeUnit = TimeUnit.MINUTES">
              <label class="form-check-label">
                Minutes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="flexRadioDefault-@(TimerAdditionType+Origin)" @onclick="() => CurrentTimeUnit = TimeUnit.SECONDS">
              <label class="form-check-label">
                Seconds
              </label>
            </div>
        </div>
    } else {
        @* "Complex" mode, have separate inputs for Hours / Minutes / Seconds *@
        <ComplexTimeEntry @ref="ComplexTimeEntry"/>
    }

    @**@
    <div class="flex flex-row" style="width:100%">
        <input type="button" disabled="@Disabled" class="btn btn-light" value="Add" onclick="@(() => AddTimeImpl(1))"/>
        <input type="button" disabled="@Disabled" class="btn btn-light" value="Subtract" onclick="@(() => AddTimeImpl(-1))"/>
    </div>
</div>

@code {
    [Parameter]
    public bool Disabled { get; set; } = false;

    [Parameter]
    public bool Simplified { get; set; } = true;

    [Parameter]
    public Func<List<TeamTimerData?>> TimerData { get; set; }

    [Parameter]
    public TimerAdditionType TimerAdditionType { get; set; }

    [Parameter]
    public String Origin { get; set; } = "TimerControlPanel";

    [Parameter]
    public Lobby Lobby { get; set; }

    private ComplexTimeEntry ComplexTimeEntry {get;set;}


    /// <summary>
    /// Amount in seconds that will be added to the timer
    /// </summary>
    private int PenaltyToAdd { get; set; } = 1;

    /// <summary>
    /// Simplified mode only, what time unit is added
    /// </summary>
    private TimeUnit CurrentTimeUnit { get; set; } = TimeUnit.MINUTES;

    private enum TimeUnit {
        MINUTES, SECONDS
    }


    private void AddTimeImpl(int multiplier) {
        long ValueInSeconds = 0;
        if (Simplified) {
            ValueInSeconds = PenaltyToAdd;
            if (TimeUnit.MINUTES.Equals(CurrentTimeUnit)) {
                ValueInSeconds *= 60;
            }
        } else {
            ValueInSeconds += ComplexTimeEntry.GetEnteredTimeAsSeconds();
        }

        if (TimerData().Count == 0) {
            return;
        }

        ValueInSeconds *= multiplier;
        // Convert to millis
        ValueInSeconds *= 1000;
        foreach (TeamTimerData timer in TimerData()) {
            switch (TimerAdditionType) {
                case TimerAdditionType.Active:
                    timer.AddActiveTime(ValueInSeconds);
                    break;
                case TimerAdditionType.Break:
                    timer.AddBreakTime(ValueInSeconds);
                    break;
                case TimerAdditionType.Penalty:
                    timer.AddPenaltyTime(ValueInSeconds);
                    break;
                case TimerAdditionType.Previous:
                    timer.AddPreviousTime(ValueInSeconds);
                    break;
            }
        }

        Lobby.TriggerInstantRefresh();

    }
}
