@using AkdTimerGV.Components.Models
@using AkdTimerGV.Components.Pages.OBS
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div class="d-flex flex-column Panel" style="min-width: 200px">
    <span>Stream Link [@LinkType]</span>
        <div class="d-flex flex-row">
            <span>
                <input class="form-check-input" type="radio" @onchange="(() => AllTeams = true)" name="@LinkType-TeamChoice" checked>
                <label class="form-check-label">
                    All Teams
                </label>
            </span>
        </div>
    @foreach (Team team in Lobby.GetParticipatingTeams()) {
        <div class="d-flex flex-row">
            <span>
                <input class="form-check-input" id="StreamLinkTeamOption-@team.TeamId" type="radio" @onchange="(() => { ChosenTeam = team.TeamId; AllTeams = false; })" name="@LinkType-TeamChoice">
                <label class="form-check-label" for="StreamLinkTeamOption-@team.TeamId">
                 @team.Name
                </label>
            </span>
        </div>
    }

    @if (LINK_TYPE_TIMER == LinkType) {
        <div class="d-flex flex-column">
            <span>
                <input class="form-check-input" type="checkbox" @bind="IncludeTable"/>
                <label class="form-check-label form-check-label">
                     Include Table
                </label>
            </span>
            <span>
                <input class="form-check-input" type="checkbox" @bind="TransparentBackground"/>
                <label class="form-check-label form-check-label">
                     Transparent Background
                </label>
            </span>
            <span>
                <input class="form-check-input" type="checkbox" @bind="ShowDraft"/>
                <label class="form-check-label form-check-label">
                     Show Draft
                </label>
            </span>
        </div>
    } else {
        <hr />
        <span>
            <input class="form-check-input" id="StreamLinkDraftDisplayOptionHorizontal" type="radio" @onchange="(() => { Orientation = ORIENTATION_HORZIONTAL; })" name="DraftOrientationChoice" checked>
            <label class="form-check-label" for="StreamLinkDraftDisplayOptionHorizontal">
                @ORIENTATION_HORZIONTAL
            </label>
        </span>

        <span >
            <input class="form-check-input" id="StreamLinkDraftDisplayOptionVertical" type="radio" @onchange="(() => { Orientation = ORIENTATION_VERTICAL; })" name="DraftOrientationChoice">
            <label class="form-check-label" for="StreamLinkDraftDisplayOptionVertical">
                @ORIENTATION_VERTICAL
            </label>
        </span>

        <span>Slideshow seconds: <input type="number" @bind="SlideshowSeconds" style="width: 50px"/></span>
    }


    <input type="button" class="btn btn-light" value="Generate Link" onclick="@(() => generateLink())"/>
</div>

@code {

    public static readonly String LINK_TYPE_TIMER = "Timer";
    public static readonly String LINK_TYPE_DRAFT = "Draft";
    public static readonly String ORIENTATION_HORZIONTAL = "Horizontal";
    public static readonly String ORIENTATION_VERTICAL = "Vertical";

    [Parameter]
    public Lobby Lobby { get; set; }

    [Parameter]
    public String CustomOrder { get; set; }

    [Parameter]
    public String LinkType { get; set; }

    private bool AllTeams { get; set; } = true;

    private bool IncludeTable { get; set; } = false;
    private bool TransparentBackground { get; set; } = true;
    private bool ShowDraft { get; set; } = false;

    private String Orientation { get; set; } = ORIENTATION_HORZIONTAL;
    private int SlideshowSeconds { get; set; } = 0;


    private Guid ChosenTeam { get; set; }


    public async void generateLink() {
        if ("Timer" == LinkType) {
            generateLinkForTimer();
        } else {
            generateLinkForDraft();
        }
    }

    public async void generateLinkForTimer() {
        OBSTimerOverlayConfiguration config = new();
        config.LobbyId = Lobby.LobbyId;
        config.DisplayTable = IncludeTable;
        config.TeamName = AllTeams ? null : ChosenTeam;
        config.CustomOrder = AllTeams ? CustomOrder : null;
        config.ShowDraft = ShowDraft;
        config.TransparentBackground = TransparentBackground;

        Guid configId = LinkConfigurationHolder.Instance.RegisterConfiguration(config);

        String link = NavigationManager.BaseUri + "link/timer/overlay/" + configId;

        // Don't worry about the name of the JS Function, I could not get it to work any other way. This is dogshit
        await JSRuntime.InvokeVoidAsync("copyToClipboard.ShowMsg", link);
    }


    public async void generateLinkForDraft() {
        OBSDraftOverlayConfiguration config = new();
        config.LobbyId = Lobby.LobbyId;
        config.TeamId = AllTeams ? null : ChosenTeam;
        config.Orientation = Orientation;
        config.SlideShowSeconds = AllTeams ? SlideshowSeconds : 0;
        Guid configId = LinkConfigurationHolder.Instance.RegisterConfiguration(config);

        String link = NavigationManager.BaseUri+"link/draft/overlay/"+configId;

        // Don't worry about the name of the JS Function, I could not get it to work any other way. This is dogshit
        await JSRuntime.InvokeVoidAsync("copyToClipboard.ShowMsg", link);
    }
}
