@using AkdTimerGV.Components.Models
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div class="d-flex flex-column PanelWithLeftBorder">
    <span>Stream Link</span>
        <div class="d-flex flex-row">
            <input class="form-check-input" type="radio" @onchange="(() => AllTeams = true)" name="LinkTeamChoice" checked>
            <label class="form-check-label">
                All Teams
            </label>
        </div>
    @foreach (Team team in Lobby.GetParticipatingTeams()) {
        <div class="d-flex flex-row">
            <input class="form-check-input" id="StreamLinkTeamOption-@team.TeamId" type="radio" @onchange="(() => {ChosenTeam = team.TeamId; AllTeams = false;})" name="LinkTeamChoice">
            <label class="form-check-label" for="StreamLinkTeamOption-@team.TeamId">
                @team.Name
            </label>
        </div>
    }
    <div class="d-flex flex-row">
        <input class="form-check-input" type="checkbox" @bind="IncludeTable"/>
        <label class="form-check-label form-check-label">
            Include Table
        </label>
    </div>

    <input type="button" class="btn btn-light" value="Generate Link" onclick="@(() => generateLink())"/>
</div>

@code {
    [Parameter]
    public Lobby Lobby { get; set; }

    private bool AllTeams { get; set; } = true;

    private bool IncludeTable { get; set; } = false;

    Guid ChosenTeam { get; set; }


    public async void generateLink() {
        String link = NavigationManager.BaseUri+"timer/lobby/"+Lobby.LobbyId+"/";

        if (AllTeams) {
            link += "AllTeams/";
        } else {
            link += "SingleTeam/"+(Lobby.GetTeamByTeamId(ChosenTeam)).TeamId+"/";
        }

        link += IncludeTable ? "true" : "false";
        // Don't worry about the name of the JS Function, I could not get it to work any other way. This is dogshit
        await JSRuntime.InvokeVoidAsync("exampleJsFunctions.ShowMsg", link);
    }
}
