/*add this to avoid flickering*/
.plk-dd-inprogess > * {
    pointer-events: none;
}

/*dropzone style style*/
.plk-dd-dropzone-draft-table {
    width: 700px;
    min-width: 700px;
    min-height: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.plk-dd-dropzone-available-chars {
    width: 1045px;
    min-width: 1045px;
    min-height: 64px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*drag drop styles*/


.plk-dd-spacing {
    height: 5px;
    width: 5px;
}

.plk-dd-spacing-dragged-over {
    padding: 0px;
}

.plk-dd-dragged-over {
    background-color: lightgray;
    opacity: 0.6;
}

.plk-dd-dragged-over > div {
    background-color: lightgray;
    opacity: 0.6;
}

.plk-dd-dragged-over-denied {
	background-color: red;
	opacity: 0.6;
}

.plk-dd-in-transit {
    opacity: 0;
}

.plk-dd-in-transit > div {
     opacity: 0;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.blink_me {
    animation: blinker 1s linear infinite;
}

/*for flex demo*/

.plk-flex .plk-dd-dragged-over {
    background-color: lightgray;
    opacity: 0.6;
    animation: blinker 1s linear infinite;
}

.plk-flex .plk-dd-dragged-over > div {
    background-color: lightgray;
    opacity: 0.9;
    animation: blinker 1s linear infinite;
}

.plk-flex .plk-dd-in-transit {
    background-color: orangered;
}

.plk-flex .plk-dd-in-transit > div {
    background-color: orangered;
}

.plk-dd-noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.draft-label-holder {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    overflow-wrap: break-word;
    border-right: 3px solid black;
    min-width: 64px;
    padding: 5px;
}

.draft-label-holder textarea {
    font-weight: bold;
    color: black;
}

.draft-character-image {
    height: 64px;
    width: 64px;
    background-position: center bottom !important;
    background-size: contain !important;
    background-repeat: no-repeat;
}

.draft-character-image-nomination {
    height: 120px;
    width: 120px;
    background-position: center;
    background-repeat: no-repeat;
}

.draft-character-image-auction {
    height: 100px;
    width: 64px;
    background-position: center bottom !important;
    background-size: contain !important;
    background-repeat: no-repeat;
}

.draft-character-image-small {
    height: 40px;
    width: 40px;
    background-position: center bottom !important;
    background-size: contain !important;
    background-repeat: no-repeat;
}

.draft-character-image-large {
    height: 96px;
    width: 96px;
    background-position: center bottom !important;
    background-size: contain !important;
    background-repeat: no-repeat;
}

.arrowDown {
    width: 64px;
    height: 32px;
    background-color: white;
    -webkit-mask: url("images/arrowDown.svg") no-repeat 50% 50%;
    mask: url("images/arrowDown.svg") no-repeat 50% 50%;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center !important;
    color: white;
}

.arrowUp {
    width: 64px;
    height: 32px;
    background-color: white;
    -webkit-mask: url("images/arrowUp.svg") no-repeat 50% 50%;
    mask: url("images/arrowUp.svg") no-repeat 50% 50%;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center !important;
    color: white;
}

.minus {
    width: 64px;
    height: 32px;
    background-color: white;
    -webkit-mask: url("images/minus.svg") no-repeat 50% 50%;
    mask: url("images/minus.svg") no-repeat 50% 50%;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center !important;
    color: white;
}

.plus {
    width: 64px;
    height: 32px;
    background-color: white;
    -webkit-mask: url("images/plus.svg") no-repeat 50% 50%;
    mask: url("images/plus.svg") no-repeat 50% 50%;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center !important;
    color: white;
}

.draft-label-holder textarea:disabled {
    color: #FBFBFE;
    color: black;
}

.NominationPedastal {
    width: 120px;
    min-width: 120px;
    height: 120px;
}

#CurrentNomination {
    align-self: center;
    border: 2px solid lightgray;
    align-content: center;
    background-position:center;
}

.ColorSelection {
    display:none;
}

.draft-label-holder:hover .ColorSelection {
    display: block;
}