@page "/timer/lobby/{LobbyId}/AllTeams/CustomOrder/{CustomOrder}/{Table:bool}"
@page "/timer/lobby/{LobbyId}/SingleTeam/{TeamName}/{Table:bool}"
@using AkdTimerGV.Components.Models
@using AkdTimerGV.Components.Custom
@using AkdTimerGV.Components.Layout

@*
    This rendermode is needed to enable using OnAfterRenderAsync
*@
@rendermode InteractiveServer

@*
    Since this is intended to be the page which is used for OBS Browser capture, 
    just use an empty layout without clutter to avoid cropping
*@
@layout EmptyLayout

<div class="d-flex flex-row TeamTimersPanel flex-wrap" style="max-width: 800px">
    @if (Lobby != null) {
        @if (Lobby.StartingPistolValue == 0) {
            @if (TeamName == null) {
                @foreach (Team team in Lobby.GetParticipatingTeams(CustomOrder)) {
                    <TeamTimer @ref="TimerRef" Team="team" AllTeams="TimerReferences" />
                }

            } else {
                <TeamTimer Team="Lobby.Teams[new(TeamName)]" NoMargin="true"/>
            }
        } else {
            <b style="font-size:75pt">@(String.Format("{0:0.##}", Lobby.StartingPistolValue))</b>
        }
    }
    @if (Table) {
        <TeamTimerTable Lobby="@Lobby"/>
    }
</div>

@code {
    [Parameter]
    public String LobbyId { get; set; }

    [Parameter]
    public String? TeamName { get; set; }

    [Parameter]
    public bool Table { get; set; }

    [Parameter]
    public String? CustomOrder { get; set; }

    public Lobby Lobby { get; set; }

    private Timer Timer;
    private List<TeamTimer> TimerReferences = new List<TeamTimer>();
    private TeamTimer TimerRef {
        set { TimerReferences.Add(value); }
    }


    protected override async Task OnAfterRenderAsync(bool firstRender) {
        if (!firstRender) {
            return;
        }
        
        // If we didn't receive a valid LobbyId somehow, then just do nothing
        if (!Guid.TryParse(LobbyId, out Guid ParsedLobbyid)) {
            return;
        }

        // Retrieve the reference to the Lobby from the LobbyHolder.Instance.
        Lobby = LobbyHolder.Instance.getLobby(ParsedLobbyid);

        Timer = new Timer(new TimerCallback(LobbyRef => {
            InvokeAsync(() => {
                ((OBSLink) LobbyRef).NotifyStateHasChanged();
                StateHasChanged();
            });
        }
        ), this, 100, 100);
    }

    private void NotifyStateHasChanged() {
        StateHasChanged();
    }
}
